#title{
    text-align: center;
}
#description{
    text-align: center;
}
#survey-form{
    display: flex;
    flex-direction: column;
    
}
.form-inf{
    padding-bottom: 5px;
    display: flex;
    align-items: center; 
    justify-content: center;
}
label{
    display: flex;
}
#name-field{
    display: flex;
    flex-direction: column;
}
#email-field{
    display: flex;
    flex-direction: column;
}
#age-field{
    display: flex;
    flex-direction: column;
}
#comments-field{
    display: flex;
    flex-direction: column;
}
.submit-btn{
    margin-top: 15px;
}
